{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Menu index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for menu in menusC %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.name }}</td>
                    <td>{{ menu.link }}</td>
                    <td>
                        <a href="{{ path('app_menu_show', {'id': menu.id}) }}">show</a>
                        <a href="{{ path('app_menu_edit', {'id': menu.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_menu_new') }}">Create new</a>
    </div>

{% endblock %}
