{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Article</h1>
        <a class="btn btn-success" href="{{ path('app_article_index') }}">back to list</a>
        <a class="btn btn-info" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content | raw }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>


        {{ include('article/_delete_form.html.twig') }}
    </div>

{% endblock %}
